# Introduction to Python

The aim of this notebook is to learn about Python.

This is a Markdown cell where you can provide context for the code. You can write text in *italics* or **bold**, or even ***both***, and much more.

## First Command

You can use the built-in `print()` function to print Python objects, such as a string, to the Jupyter notebook output. We will explore functions in more detail later in this lesson. The objects that we want to print can be added inside the parentheses, and these are known as the arguments of the `print()` function.

In [4]:
print("Hello world!")

Hello world!

## Comments

The code tells you “how”, comments tell you “why”.

In [5]:
# This is a comment.
print("Hello world!")

Hello world!

## Data Types

A variable is a name given to a value. In Python, the `=` symbol is used to assign a value to a variable. In this example, Python assigns the name `Lovelace` to the variable `name`.

In [2]:
# Variables and assignment
name = "Lovelace"
print(name)

Lovelace

In [3]:
# String (str) - Sequence of characters
first_name = "Ada"
print(first_name)

Ada

In [4]:
# Integer (int) - Whole number
age = 37
print(age)

37

In [5]:
# Floating point number (float) - Fractional number
size = 1.7123
print(size)

1.7123

In [6]:
# Boolean (bool) - One of two values
knows_math = True
print(knows_math)
likes_gardening = False
print(likes_gardening)

True
False

In [7]:
# Print data type
type(name)

str

### ✨ Exercise: Data Types
Create three variables:
1. A string (`str`) containing the title of your favourite book.
2. An integer (`int`) representing the number of pages.
3. A floating point number (`float`) with a rating (e.g. 4.5).

Print all values using the `print()`function. You can separate the values in the `print()`function with a comma.

In [1]:
# ✅ Solution
favourite_book = "An Immense World"
pages = 464
rating = 4.47
print(favourite_book, pages, rating)
print("My favourite book is ", favourite_book)

An Immense World 464 4.47
My favourite book is  An Immense World

In Jupyter notebooks, you can omit the `print()` function for objects, such as variables, that appear on the final line of a cell. If the final line of a Jupyter cell includes the name of a variable, its value will be displayed in the notebook when the cell is run.

In [20]:
# The last value will be output by Jupyter Notebook
name
age

37

In [21]:
# If you want to output other values, you have to use "print"
print(name)
print(age)

Lovelace
37

## Operators

An object's type determines what the program can do with it.

In [22]:
# Addition of integers
5 + 5

10

In [23]:
# Multiplication
age * 100

3700

In [24]:
# Concatenation of strings
name + name

'LovelaceLovelace'

In [25]:
# Concatenation of strings x times
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

We get an error if we try to add a number to a string.

In [26]:
# Does not work: the "+" operator cannot be applied
name + 10

TypeError: can only concatenate str (not "int") to str

In [27]:
# Works: here, "10" is a string
name + "10"

'Lovelace10'

In [28]:
# Division
size/age

0.04627837837837838

In [29]:
type(size)

float

In [32]:
number_of_articles = "50"

In [33]:
# Does not work: unsupported operand type(s) for /: 'str' and 'int'
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
# First convert the string to an integer using int()
int(number_of_articles)/10

5.0

## Functions and Methods

The `len()`function will  tells us the length of an item. In the case of a string, for example, it will tell us how many characters it contains.

In [35]:
len(name)

8

For now, the difference between a function and a method is not that relevant. Methods are special types of function that are always bound to an object, the thing on the left of the dot.

In [36]:
name.upper()

'LOVELACE'

In [37]:
# The string itself is not changed
name

'Lovelace'

In [38]:
name.count("e")

2

In [39]:
# Methods with two arguments
name.replace("lace", " is everywhere")

'Love is everywhere'

### ✨ Exercise: Methods on Strings
You have the following phrase:

`phrase = "Python is great"`

1. Capitalize the entire sentence.
2. Replace "Python" with "Programming".
3. Print the result.

In [41]:
# ✅ Solution
phrase = "Python is great"
phrase = phrase.upper() # Capital letters
phrase = phrase.replace("PYTHON", "Programming") # Replace
print(phrase)

Programming IS GREAT

## Data Structures

### Lists

The most popular type of data collection in Python is the list. Lists have two important characteristics:
1. They are mutable, meaning they can be changed after creation.
2. They are heterogenous, meaning they can store values of many different types.

To create a new list, simply put some values in square brackets, separated by commas. Let's create a short list of names.

In [42]:
# List
names = ["Lovelace", "Darwin", "Noether", "Hawking"]

#### Indexing
We can use index numbers to reference elements in a list. Python uses square brackets (`[` and `]`) to access single elements of objects that can be decomposed into parts.

In [43]:
names[0]

'Lovelace'

In [44]:
names[1]

'Darwin'

In [45]:
names[2]

'Noether'

In [56]:
# Negative Indexing
# You can use negative indices in Python like so:
names[-1]

'Hawking'

Something like `my_list[-1]` represents the last element of a list, `my_list[-2]` represents the second last element and so on.

#### Slicing
We can also use index numbers to reference slices in a list.

In [47]:
names[0:3]

['Lovelace', 'Darwin', 'Noether']

More info on slicing: https://stackoverflow.com/questions/509211/how-slicing-in-python-works

A good visualisation can be found here: https://github.com/foerstner-lab/Bits_and_pieces_for_the_carpentries_workshops/blob/main/python/Python_Basics_de.ipynb

In [48]:
names[:2]

['Lovelace', 'Darwin']

In [49]:
names[2:]

['Noether', 'Hawking']

### Dictionaries

One of Python's best features is its "dictionary" data structure. Whereas a list is simply a collection of elements, a dictionary supports key-value storage of data. Put into plain english, it lets you store and retrieve data values by name. 

Let's create and use a simple dictionary to illustrate this:

In [50]:
authors_and_birth_years = {"Lovelace": 1815,
                          "Darwin": 1809,
                          "Noether": 1882,
                          "Hawking": 1942}

In [55]:
# Retrieve a value from the dictionary
authors_and_birth_years["Darwin"]

1809

In [52]:
# Does not work: key is not defined
authors_and_birth_years["DARWIN"]

KeyError: 'DARWIN'

### ✨ Exercise: Lists and Dictionaries
1. Create a list of three city names.
2. Add a fourth city. You can use the `append()` method to do this.
3. Create a dictionary that assigns a country to each city.
4. Print both using the `print()` function.

In [54]:
# ✅ Solution
cities = ["Berlin", "Paris", "Rome"]
cities.append("Madrid")
countries = {"Berlin": "Germany",
            "Paris": "France", 
            "Rome": "Italy",
            "Madrid": "Spain"}
print(cities)
print(countries)

['Berlin', 'Paris', 'Rome', 'Madrid']
{'Berlin': 'Germany', 'Paris': 'France', 'Rome': 'Italy', 'Madrid': 'Spain'}

## For Loops

A `for`loop repeats an operation once for each element it encounters in a collection. The general structure of a loop is:

**for** variable **in** collection:
    
    # do things using variable, such as print

**Notes:**
- We can name the loop variable anything we like.
- There must be a colon at the end of the line that starts the loop.
- We must indent anything that we want to run inside the loop. Unlike in many other programming languages, there is no command to signify the end of the loop body. Anything indented after the `for`statement belongs to the loop.

In [59]:
for person in names:
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Noether did awesome stuff.
Hawking did awesome stuff.

Loops are a more robust way of dealing with containers such as lists. Even if the values in the list change, the loop will still work.

Loop variables are created when you define the loop and persist after it finishes. As with all variablee names, it is helpful to give for-loop variables meaningful names that you will understand as your code grows. For example, `for person in names` is easier to understand than `for kitten in names`.

### ✨ Exercise: For Loops
You have the following list of numbers:

`numbers = [3, 7, 1, 9, 2]`

1. Write a loop that prints all of these numbers and calculates the sum of all the numbers.
3. Print the result.

**Hint:** 
If you want to calculate a sum, you first need to set a variable to 0, which is then incremented throughout the loop.

The calculation works as follows:
- At the beginning, sum = 0
- For each number in the list, sum = sum + number is calculated
- At the end, `sum` contains the total sum of all numbers

In [58]:
# ✅ Solution
numbers = [3, 7, 1, 9, 2]
sum = 0
for number in numbers:
    print(number)
    sum = sum + number
    # or sum += number
print("Sum:", sum)

3
7
1
9
2
Sum: 22

## Conditions and If Statements

An `if`statement is a conditional statement that determines whether a block of code is executed. The syntax of an `if` statement is similar to that of a `for`statement:
- The first line begins with `if`and ends with a colon.
- The body is indented (usually by four spaces).

In [60]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [61]:
20 > 15

True

We can use an `else` statement following an `if` statement to specify an alternative code block to execute when the `if` branch is not taken.

In [63]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

You can use `elif`(short for "else if") to provide several alternative choices, each with its own test. An `elif` statement must always be associated with an `if` statement and precede the `else` statement (the catch-all).

In [64]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

Conditions are tested in order and only once; they are not re-evaluated if values change. Python steps through the branches of the conditional statement in order, testing each one in turn, so the order of your statements matter.

### ✨ Exercise: Conditional Statements
A movie ticket costs 10 €. Children under 12 years of age get a 50 % discount. Write a program that checks whether a person is eligible for the discount.

In [66]:
# ✅ Solution
age = 10
price = 10 # Test age

if age < 12:
    price *= 0.5 # 50 % discount

print("Ticket price:", price, "€")

Ticket price: 5.0 €