In [3]:
import pandas as pd

## Merge Dataframes
Wir erstellen zwei DataFrames einer enthält DOIs und den Namen des Journals der andere DOIs und den first author.

Manche DOIs befinden sich in beiden Dataframes, andere nur in Einem.

Wir möchten die Dataframes anhand der DOIs zusammenführen.

In [4]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [5]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [7]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

### Merge left
Es werden alle DOIs aufgeführt, die sich im linken bzw. erstgeschriebenen Dataframe befinden.

Falls der rechte bzw. zweite Dataframe die DOI des linken nicht besitzt wird in den Spalten des rechten "NaN" statt eines Wertes eingefügt.

In [9]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="left")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In diesem Fall wird bei Granger ein NaN im Journal angezeigt und wir sehen auch nicht das journal Sci Rep, da die DOI nur im rechten DataFrame vorkommt

### Merge right
Es werden alle DOIs aufgeführt, die sich im rechten bzw. zweitgeschriebenen Dataframe befinden.

Falls der linke bzw. erste Dataframe die DOI des rechten nicht besitzt wird in den Spalten des linken "NaN" statt eines Wertes eingefügt.

In [10]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="right")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3      10.1038/s41598-019-52881-4          NaN             Sci Rep
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

Nun sehen wir ein NaN bei dem first author für das Journal Sci Rep und Granger wir nicht mehr angezeigt, da es nicht im zweiten DataFrame vorkommt

### Merge inner
Es werden nur Einträge für den neuen DataFrame berücksichtigt bei denen die DOI in beiden ursprünglichen DataFrames vorkommt

In [11]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="inner")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

Granger und Sci Rep fallen weg

### Merge outer
Alle DOIs werden berücksichtigt. Nicht vorhandenen Werte einer Spalte werden wieder mit "NaN" gefüllt.

In [12]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
5      10.1038/s41598-019-52881-4          NaN             Sci Rep

## Apply
Eine Funktion wird auf den DataFrame oder eine Spalte angewendet.

Wir erstellen einen DataFrame mit inkonsistenten Authorennamen.

In [13]:
doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})

In [14]:
doi_df_first_author_2

                             DOIs     first_author
0    10.1371/journal.pcbi.1004668      Blischak J.
1             10.21105/joss.01035   Sparks Adam H.
2             10.21105/joss.01006  Granger Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze

## Die split-FUnktion (Methode)

In [15]:
# mit Split können wir einen zusammenhöngenden String an einer Stelle trennen und in eine Liste umwandeln
"Rosalind Franklin".split(" ")

['Rosalind', 'Franklin']

In [16]:
# aus dieser Liste können wir dann wiederum eine Postion ansprechen 
"Rosalind Franklin".split(" ")[0]

'Rosalind'

### 'Die "split"-Funktion wird auf eine Spalte angewendet.
Zunächst wollen wir die Ersten Namen der Autor:innen von den Nachnamen trennen

In [17]:
doi_df_first_author_2["first_author"].apply(lambda author: author.split(" ")[0])

0    Blischak
1      Sparks
2     Granger
3       Thang
4        Chen
Name: first_author, dtype: object

.apply(lambda author: author.split(" ")[0]): Dieser Teil des Ausdrucks wendet die apply-Funktion auf die ausgewählte Spalte an. Die apply-Funktion ermöglicht es Ihnen, eine Funktion auf jede Zeile oder jedes Element in der ausgewählten Spalte anzuwenden.

lambda author: author.split(" ")[0]: Hier wird eine anonyme Funktion (Lambda-Funktion) definiert, die auf jedes Element (in diesem Fall den Autorennamen) in der "first_author"-Spalte angewendet wird. Diese Funktion teilt den Autorennamen anhand des Leerzeichens auf (an den Leerzeichen) und gibt das erste Element der resultierenden aufgeteilten Liste zurück, was den Vornamen des Autors darstellt.

Der split(" ")[0]-Teil zerlegt den Namen in Wörter (anhand des Leerzeichens) und gibt das erste Wort (den Vornamen) zurück.

### Das Ergbeniss (der Nachname) wird einer Spalte zugewiesen. 
Um das Ergebnis in einer neuen Spalte abzulegen, können wir diese als Spalte definieren und mit der Funktion als Wert gleichsetzen

In [18]:
doi_df_first_author_2["last_name"] = doi_df_first_author_2["first_author"].apply(lambda author: author.split(" ")[0])

In [19]:
doi_df_first_author_2

                             DOIs     first_author last_name
0    10.1371/journal.pcbi.1004668      Blischak J.  Blischak
1             10.21105/joss.01035   Sparks Adam H.    Sparks
2             10.21105/joss.01006  Granger Nicolas   Granger
3  10.12688/f1000research.18866.2            Thang     Thang
4       10.1186/s12859-019-3171-0       Chen Danze      Chen

Die Nachnamen sind nun in einer neuen Spalte abgelegt, befinden sich aber noch immer in der first_author spalte. Jetzt wollen wir die Vornamen herausfilter in dem wir die zweite Postiton ansprechen

In [21]:
doi_df_first_author_2["first_author"].apply(lambda author: author.split(" ")[1:])

0          [J.]
1    [Adam, H.]
2     [Nicolas]
3            []
4       [Danze]
Name: first_author, dtype: object

Unser Ziel ist es die Vornamen so anzugeben, das die Initialie des ersten Vornamen ausgegeben wird und in eine neue Spalte geschrieben wird. Das heißt wir müssen die Vornamen erst durch eine Funktion bereinigen, da sie im Moment unterschiedlich sind.

In [22]:
def first_name_initial(full_name):
    return full_name.split(" ")[1:]

Die Funktion wird dann an apply übergeben

In [23]:
doi_df_first_author_2["first_author"].apply(first_name_initial)

0          [J.]
1    [Adam, H.]
2     [Nicolas]
3            []
4       [Danze]
Name: first_author, dtype: object

Die Funktion kann jetzt den Nachnamen abtrennen. Nun erweitern wir die Funktion so, dass wir nur die Inititale des ersten Vornamens zurückbekommen. Fall kein Vorname existiert wird ein NaN zurückgegeben

In [36]:
first_name = "Sparks Adam, H.".split(" ")[1:]

In [37]:
first_name[0]

'Adam,'

In [38]:
first_name[0][0]

'A'

In [39]:
first_name[0][0] + "."

'A.'

In [40]:
def first_name_initial(full_name):
    # Den vollen Namen anhand des Leerzeichens aufteilen und alle Wörter außer dem ersten extrahieren
    first_name = full_name.split(" ")[1:]    
    # Wenn es mindestens ein extrahiertes Wort gibt (der Nachname), führe den folgenden Block aus
    if first_name:
        # Der erste Buchstabe des ersten extrahierten Worts (der Vorname) wird genommen,
        # gefolgt von einem Punkt, um den initialen Vornamen zu erstellen
        return first_name[0][0] + "."
    else:
        # Wenn kein Nachname (kein extrahiertes Wort) gefunden wurde, wird "NaN" zurückgegeben
        return "NaN"

In [42]:
### Die Funktion wird erneut an apply übergeben
doi_df_first_author_2["first_author"].apply(first_name_initial)

0     J.
1     A.
2     N.
3    NaN
4     D.
Name: first_author, dtype: object

### Die Initiale wird in einer neuen Spalte gespeichert

In [43]:
doi_df_first_author_2["first_name"] = doi_df_first_author_2["first_author"].apply(first_name_initial)

In [44]:
doi_df_first_author_2

                             DOIs     first_author last_name first_name
0    10.1371/journal.pcbi.1004668      Blischak J.  Blischak         J.
1             10.21105/joss.01035   Sparks Adam H.    Sparks         A.
2             10.21105/joss.01006  Granger Nicolas   Granger         N.
3  10.12688/f1000research.18866.2            Thang     Thang        NaN
4       10.1186/s12859-019-3171-0       Chen Danze      Chen         D.

### Apply wird zeilenweise auf den ganzen Datafram angewandt
Nun wollen wir mit first_name und last_name eine neue Spalte einführen in der die bereinigten Autor:innen Namen angegeben werden. 
Dafür verbinden wir in eine neuen Spalte die Spalten first_name und last_name mit einem Leerzeichen. Auch hier können wir wieder die anonyme Funktion lambda benutzen

In [45]:
doi_df_first_author_2["first_author_cleaned"] = doi_df_first_author_2.apply(
    lambda df: df["last_name"] + " " + df["first_name"], axis=1)

axis=1: Dieser Parameter gibt an, dass die apply-Funktion zeilenweise angewendet werden soll. Das bedeutet, dass die Lambda-Funktion für jede Zeile im DataFrame ausgeführt wird, und das Ergebnis wird in der neuen Spalte "first_author_cleaned" in derselben Zeile gespeichert.

In [46]:
doi_df_first_author_2

,DOIs,first_author,last_name,first_name,first_author_cleaned
0,10.1371/journal.pcbi.1004668,Blischak J.,Blischak,J.,Blischak J.
1,10.21105/joss.01035,Sparks Adam H.,Sparks,A.,Sparks A.
2,10.21105/joss.01006,Granger Nicolas,Granger,N.,Granger N.
3,10.12688/f1000research.18866.2,Thang,Thang,NaN,Thang NaN
4,10.1186/s12859-019-3171-0,Chen Danze,Chen,D.,Chen D.

Sieht beinahe perfekt aus. Was fehlt ist noch, dass die NaN Werte richtig verarbeitet werden. 
Dazu fügen wir eine weite Bedingung hinzu

In [47]:
doi_df_first_author_2["first_author_cleaned"] = doi_df_first_author_2.apply(
    lambda df: df["last_name"] + " " + df["first_name"] if df["first_name"] != "NaN" else df["last_name"], axis=1)

Mit der Bedingung sag wir das die Werte verbunden werden sollen, wenn kein NaN enthalten ist. Andernfalls soll nur der Nachname in der Spalte abgelegt werden.

In [48]:
doi_df_first_author_2

,DOIs,first_author,last_name,first_name,first_author_cleaned
0,10.1371/journal.pcbi.1004668,Blischak J.,Blischak,J.,Blischak J.
1,10.21105/joss.01035,Sparks Adam H.,Sparks,A.,Sparks A.
2,10.21105/joss.01006,Granger Nicolas,Granger,N.,Granger N.
3,10.12688/f1000research.18866.2,Thang,Thang,NaN,Thang
4,10.1186/s12859-019-3171-0,Chen Danze,Chen,D.,Chen D.

## Groupby

Mit der groupby-Funktion in Pandas können wir Daten basierend auf einer oder mehreren Spalten gruppieren und dann verschiedene Aggregationsfunktionen auf diese Gruppen anwenden.

In [49]:

df_doi_journal_price = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0",
        "10.1186/s12859-019-3171-1",
        "10.1186/s12859-019-3171-3"],
    "journal": [
        "PLoS Comput Biol",
        "BMC Bioinformatics",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics",
        "PLoS Comput Biol",
        "BMC Bioinformatics"],
    "price": [
        2000,
        2000,
        1500,
        1000,
        1500,
        1500,
        1600
    ]})

In [50]:
df_doi_journal_price

                              DOI             journal  price
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol   2000
1             10.21105/joss.01035  BMC Bioinformatics   2000
2  10.12688/f1000research.18866.2            F1000Res   1500
3      10.1038/s41598-019-52881-4             Sci Rep   1000
4       10.1186/s12859-019-3171-0  BMC Bioinformatics   1500
5       10.1186/s12859-019-3171-1    PLoS Comput Biol   1500
6       10.1186/s12859-019-3171-3  BMC Bioinformatics   1600

Erstellen wie ein groupby objekt. Wir wollen den DataFrame df_doi_journal_price nach der Spalte "journal" gruppieren. Das bedeutet, dass alle Zeilen mit demselben Wert in der Spalte "journal" zu einer Gruppe zusammengefasst werden. In diesem Fall werden die Artikel nach Zeitschrift gruppiert.

In [51]:
grp_journal = df_doi_journal_price.groupby(["journal"])

In [52]:
grp_journal

In Pandas wird das GroupBy-Objekt grp_journal nicht automatisch angezeigt, wenn wir es auswerten. Stattdessen müssen wir eine Aggregationsfunktion oder eine Methode anwenden, um die Ergebnisse der Gruppierung anzuzeigen oder zu verwenden.

In [53]:
grp_journal.apply(display)

                         DOI             journal  price
1        10.21105/joss.01035  BMC Bioinformatics   2000
4  10.1186/s12859-019-3171-0  BMC Bioinformatics   1500
6  10.1186/s12859-019-3171-3  BMC Bioinformatics   1600

                              DOI   journal  price
2  10.12688/f1000research.18866.2  F1000Res   1500

                            DOI           journal  price
0  10.1371/journal.pcbi.1004668  PLoS Comput Biol   2000
5     10.1186/s12859-019-3171-1  PLoS Comput Biol   1500

                          DOI  journal  price
3  10.1038/s41598-019-52881-4  Sci Rep   1000

Empty DataFrame
Columns: []
Index: []

Auf unsere Gruppen könnten wir nun Aggregrationsfunktionen anwenden. Wir wollen zum Beispiel den durchschnittlichen Preis für jedes Journal sehen

In [54]:
grp_journal["price"].mean()

journal
BMC Bioinformatics    1700.0
F1000Res              1500.0
PLoS Comput Biol      1750.0
Sci Rep               1000.0
Name: price, dtype: float64

Oder die Summe:

In [55]:
grp_journal["price"].sum()

journal
BMC Bioinformatics    5100
F1000Res              1500
PLoS Comput Biol      3500
Sci Rep               1000
Name: price, dtype: int64

## Ende