In [1]:
import pandas as pd

## Merge Dataframes 
Wir erstellen zwei DataFrames einer enthält DOIs und den Namen des Journals der andere DOIs und den first author.

Manche DOIs befinden sich in beiden Dataframes, andere nur in Einem. 

Wir möchten die Dataframes anhand der DOIs zusammenführen.

In [2]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [3]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [4]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

###  Merge left
Es werden alle DOIs aufgeführt, die sich im linken bzw. erstgeschriebenen Dataframe befinden. 

Falls der rechte bzw. zweite Dataframe die DOI des linken nicht besitzt wird in den Spalten des rechten "NaN" statt eines Wertes eingefügt.

In [5]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="left")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

###  Merge right
Es werden alle DOIs aufgeführt, die sich im rechten bzw. zweitgeschriebenen Dataframe befinden. 

Falls der linke bzw. erste Dataframe die DOI des rechten nicht besitzt wird in den Spalten des linken "NaN" statt eines Wertes eingefügt.

In [6]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="right")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3      10.1038/s41598-019-52881-4          NaN             Sci Rep
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

### Merge inner
Es werden nur Einträge für den neuen DataFrame berücksichtigt bei denen die DOI in beiden ursprünglichen DataFrames vorkommt

In [7]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="inner")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

### Merge outer
Alle DOIs werden berücksichtigt. Nicht vorhandenen Werte einer Spalte werden wieder mit "NaN" gefüllt.

In [8]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
5      10.1038/s41598-019-52881-4          NaN             Sci Rep

# Apply
Eine Funktion wird auf den DataFrame oder eine Spalte angewendet.

Wir erstellen einen DataFrame mit inkonsistenten Authorennamen.

In [9]:
doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})

In [10]:
doi_df_first_author_2

                             DOIs     first_author
0    10.1371/journal.pcbi.1004668      Blischak J.
1             10.21105/joss.01035   Sparks Adam H.
2             10.21105/joss.01006  Granger Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze

### Die "split"-Funktion (Methode)

In [11]:
"Rosalind Franklin".split(" ")

['Rosalind', 'Franklin']

In [12]:
"Rosalind Franklin".split("Frank")

['Rosalind ', 'lin']

In [13]:
"Rosalind Franklin".split(" ")[0]

'Rosalind'

### Die "split"-Funktion wird auf eine Spalte angewendet.

In [14]:
doi_df_first_author_2["first_author"].apply(lambda author: author.split(" ")[0])

0    Blischak
1      Sparks
2     Granger
3       Thang
4        Chen
Name: first_author, dtype: object

### Das Ergbeniss (der Nachname) wird einer Spalte zugewiesen.

In [15]:
doi_df_first_author_2["last_name"] = doi_df_first_author_2["first_author"].apply(lambda author: author.split(" ")[0])

### Der oder die Vornamen werden ausgegeben

In [16]:
doi_df_first_author_2["first_author"].apply(lambda author: author.split(" ")[1:])

0          [J.]
1    [Adam, H.]
2     [Nicolas]
3            []
4       [Danze]
Name: first_author, dtype: object

### Eine Funktion wird definiert und an "apply" übergeben

In [17]:
def first_name_initial(full_name):
    return full_name.split(" ")[1:]

In [18]:
doi_df_first_author_2["first_author"].apply(first_name_initial)

0          [J.]
1    [Adam, H.]
2     [Nicolas]
3            []
4       [Danze]
Name: first_author, dtype: object

### Die Funktion wird erweitert und gibt die Initiale des ersten Vornamens aus, falls kein Vorname exisitiert wird "NaN" ausgegeben

In [19]:
def first_name_initial(full_name):
    first_name = full_name.split(" ")[1:]
    if first_name:
        return first_name[0][0] + "."
    else:
        return "NaN"

### Die Initiale wird in einer neuen Spalte gespeichert

In [20]:
doi_df_first_author_2["first_name"] = doi_df_first_author_2["first_author"].apply(first_name_initial)

In [21]:
doi_df_first_author_2

                             DOIs     first_author last_name first_name
0    10.1371/journal.pcbi.1004668      Blischak J.  Blischak         J.
1             10.21105/joss.01035   Sparks Adam H.    Sparks         A.
2             10.21105/joss.01006  Granger Nicolas   Granger         N.
3  10.12688/f1000research.18866.2            Thang     Thang        NaN
4       10.1186/s12859-019-3171-0       Chen Danze      Chen         D.

### Apply wird zeilenweise auf den ganzen Dataframe angewandt

In [22]:
doi_df_first_author_2["first_author_cleaned"] = doi_df_first_author_2.apply(
    lambda df: df["last_name"] + " " + df["first_name"], axis=1)

In [23]:
doi_df_first_author_2

,DOIs,first_author,last_name,first_name,first_author_cleaned
0,10.1371/journal.pcbi.1004668,Blischak J.,Blischak,J.,Blischak J.
1,10.21105/joss.01035,Sparks Adam H.,Sparks,A.,Sparks A.
2,10.21105/joss.01006,Granger Nicolas,Granger,N.,Granger N.
3,10.12688/f1000research.18866.2,Thang,Thang,NaN,Thang NaN
4,10.1186/s12859-019-3171-0,Chen Danze,Chen,D.,Chen D.

### Eine Conditional Statement wird hinzugefügt um "NaN"-Werte zu verarbeiten

In [24]:
doi_df_first_author_2["first_author_cleaned"] = doi_df_first_author_2.apply(
    lambda df: df["last_name"] + " " + df["first_name"] if df["first_name"] != "NaN" else df["last_name"], axis=1)

In [25]:
doi_df_first_author_2

,DOIs,first_author,last_name,first_name,first_author_cleaned
0,10.1371/journal.pcbi.1004668,Blischak J.,Blischak,J.,Blischak J.
1,10.21105/joss.01035,Sparks Adam H.,Sparks,A.,Sparks A.
2,10.21105/joss.01006,Granger Nicolas,Granger,N.,Granger N.
3,10.12688/f1000research.18866.2,Thang,Thang,NaN,Thang
4,10.1186/s12859-019-3171-0,Chen Danze,Chen,D.,Chen D.

# Group by

In [26]:
df_doi_journal_price = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0",
        "10.1186/s12859-019-3171-1",
        "10.1186/s12859-019-3171-3"],
    "journal": [
        "PLoS Comput Biol",
        "BMC Bioinformatics",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics",
        "PLoS Comput Biol",
        "BMC Bioinformatics"],
    "price": [
        2000,
        2000,
        1500,
        1000,
        1500,
        1500,
        1600
    ]})

In [27]:
df_doi_journal_price

                              DOI             journal  price
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol   2000
1             10.21105/joss.01035  BMC Bioinformatics   2000
2  10.12688/f1000research.18866.2            F1000Res   1500
3      10.1038/s41598-019-52881-4             Sci Rep   1000
4       10.1186/s12859-019-3171-0  BMC Bioinformatics   1500
5       10.1186/s12859-019-3171-1    PLoS Comput Biol   1500
6       10.1186/s12859-019-3171-3  BMC Bioinformatics   1600

### Ein groupby objekt erstellen

In [28]:
grp_journal = df_doi_journal_price.groupby(["journal"])

### Die erstellten Gruppen anzeigen

In [29]:
grp_journal.apply(display)

                         DOI             journal  price
1        10.21105/joss.01035  BMC Bioinformatics   2000
4  10.1186/s12859-019-3171-0  BMC Bioinformatics   1500
6  10.1186/s12859-019-3171-3  BMC Bioinformatics   1600

                              DOI   journal  price
2  10.12688/f1000research.18866.2  F1000Res   1500

                            DOI           journal  price
0  10.1371/journal.pcbi.1004668  PLoS Comput Biol   2000
5     10.1186/s12859-019-3171-1  PLoS Comput Biol   1500

                          DOI  journal  price
3  10.1038/s41598-019-52881-4  Sci Rep   1000

Empty DataFrame
Columns: []
Index: []

### Der Preisdurchschnitt kann für jede Gruppe einzeln bestimmt werden

In [30]:
grp_journal["price"].mean()

journal
BMC Bioinformatics    1700
F1000Res              1500
PLoS Comput Biol      1750
Sci Rep               1000
Name: price, dtype: int64

## Ende

In [31]:
# Jetzt erstellen wir nochmal zwei DataFramens, diesmal habe sie 
# aber unterschiedliche Serien-Namen für die DOI.
doi_df_journal_2 = pd.DataFrame({
    "cleaned_DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "  Sci Rep    ",
        "BMC Bioinformatics]"]})

doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})