# Python Einführung

Hier wollen Python kennen lernen.

Dies ist eine Markdown-Zelle, in der man ein Kontext für den Code gebene kann. Ich kann Text *kursiv*, **fett** aber auch ***fett-kursiv*** schreiben. Und vieles mehr.

## Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

## Kommentare

In [2]:
# Diest ist eine Kommentar
print("Something")

Something

## Einfache Datentypen

In [3]:
# Variablen und Wertezuweisung (Value-Assignment)
name = "Lovelace"
print(name)

Lovelace

In [4]:
# String - Zeichenkette
first_name = "Ada"
print(name)

Lovelace

In [5]:
# Integer - Ganzzahlen
age = 73
print(age)

73

In [6]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [1]:
# Boolean - Boolscher Wert
knows_math = True
print(knows_math)
likes_gardening = False
print(likes_gardening)

True
False

In [8]:
# Typen anzeigen lassen
type(name)

str

In [9]:
# Der letzte Rückgabewert wird von Jupyter Notebook ausgeben
name
age

73

In [10]:
# Wenn man andere Werte ausgebene haben möchte muss man "print" nutzen
print(name)
print(age)

Lovelace
73

## Operatoren

In [11]:
# Additiona von Integers
5 + 5

10

In [12]:
# Multiplikation
age * 100

7300

In [13]:
# Verkettung von Strings
name + name

'LovelaceLovelace'

In [14]:
# String werde x-mal aneinandergekettet
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [15]:
# Funktioniert nicht - der +-Operator kann nicht auf die Kombination 
# von Typen angewandt werden.
name + 10

TypeError: can only concatenate str (not "int") to str

In [16]:
name + "10" # hier ist "10" ein String

'Lovelace10'

In [17]:
# Division
size/age

0.023456164383561642

In [18]:
type(size)

float

In [19]:
number_of_articles = "50"

In [20]:
# Geht nicht
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [21]:
# String mit int() erst in Integer umwandeln
int(number_of_articles) / 10

5.0

## Funktionen und Methoden nutzen

In [22]:
len(name)

8

In [23]:
name.upper()

'LOVELACE'

In [24]:
# Der String selber wird nicht verändert
name

'Lovelace'

In [27]:
name.count("e")

2

In [28]:
# Methode mit zwei Argmenten
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [29]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [30]:
names[0]

'Lovelace'

In [31]:
names[1]

'Darwin'

In [32]:
names[2]

'Curie'

In [33]:
names[-1]

'Hawking'

In [34]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [35]:
# Slicing
names[:2]

['Lovelace', 'Darwin']

In [36]:
# Slicing
names[2:]

['Curie', 'Hawking']

In [37]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809 ,
                           "Noether": 1882 ,
                           "Hawking": 1942}

In [38]:
authors_and_birth_years["Darwin"]

1809

In [39]:
# Key ist nicht definiert => Fehler 
authors_and_birth_years["DARWIN"]

KeyError: 'DARWIN'

# for-Schleifen

In [41]:
for name in names:
    print(name + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

## Bedingte Anweisungen (Conditionals)

In [42]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [43]:
20 > 15

True

In [44]:
20 > 70

False

In [45]:
temp = 10
if temp > 15:
    print("It's warm")

In [46]:
temp = 10
if temp > 15:
    print("It's warm")   
else:
    print("It's cold")

It's cold

In [ ]:
temp = 15
if temp >= 25:
    print("It's hot") 
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")