# Python Einführung

Hier wollen Python kennen lernen.

Dies ist eine Markdown-Zelle, in der man ein Kontext für den Code gebene kann. Ich kann Text *kursiv*, **fett** aber auch ***fett-kursiv*** schreiben. Und vieles mehr.

## Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

## Kommentare

In [2]:
# Diest ist eine Kommentar
print("Something")

Something

## Einfache Datentypen

In [3]:
# Variablen und Wertezuweisung (Value-Assignment)
name = "Lovelace"
print(name)

Lovelace

In [4]:
# String - Zeichenkette
first_name = "Ada"
print(name)

Lovelace

In [5]:
# Integer - Ganzzahlen
age = 37
print(age)

37

In [6]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [7]:
# Boolean - Boolscher Wert
knows_math = True
print(knows_math)
likes_gardening = False
print(likes_gardening)

True
False

In [8]:
# Typen anzeigen lassen
type(name)

str

### ✨ Übung: Einfache Datentypen
Erstelle drei Variablen:
- Eine Zeichenkette (`str`) mit deinem Lieblingsbuch
- Eine ganze Zahl (`int`) mit der Anzahl der Seiten
- Eine Gleitkommazahl (`float`) mit einer Bewertung (z. B. 4.5)
Gib alle Werte mit `print()` aus.  
Werte kannst du in der `print()` Funktion entweder durch ein Komma trennen oder mit einem Plus verbinden. Fällt dir ein Unterschied auf?

In [9]:
### ✅ Lösung
lieblingsbuch = "Der Hobbit"
seiten = 310
bewertung = 4.8
print(lieblingsbuch, seiten, bewertung)

Der Hobbit 310 4.8

In [10]:
# Der letzte Rückgabewert wird von Jupyter Notebook ausgeben
name
age

37

In [11]:
# Wenn man andere Werte ausgebene haben möchte muss man "print" nutzen
print(name)
print(age)

Lovelace
37

## Operatoren

In [12]:
# Additiona von Integers
5 + 5

10

In [13]:
# Multiplikation
age * 100

3700

In [14]:
# Verkettung von Strings
name + name

'LovelaceLovelace'

In [15]:
# String werde x-mal aneinandergekettet
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [16]:
# Funktioniert nicht - der +-Operator kann nicht auf die Kombination 
# von Typen angewandt werden.
name + 10

TypeError: can only concatenate str (not "int") to str

In [17]:
name + "10" # hier ist "10" ein String

'Lovelace10'

In [18]:
# Division
size/age

0.04627837837837838

In [19]:
type(size)

float

In [20]:
number_of_articles = "50"

In [21]:
# Geht nicht
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [22]:
# String mit int() erst in Integer umwandeln
int(number_of_articles) / 10

5.0

## Funktionen und Methoden nutzen

In [23]:
len(name)

8

In [24]:
name.upper()

'LOVELACE'

In [25]:
# Der String selber wird nicht verändert
name

'Lovelace'

In [26]:
name.count("e")

2

In [27]:
# Methode mit zwei Argmenten
name.replace("lace", " is everywhere")

'Love is everywhere'

### ✨ Übung: Methoden auf Zeichenketten
Du hast den folgenden Satz:

```python
phrase = "python ist toll"
```

1. Mache den Satz komplett großgeschrieben.
2. Ersetze „python“ durch „Programmieren“.
3. Gib das Ergebnis aus.

In [28]:
### ✅ Lösung
phrase = "python ist toll"
phrase = phrase.upper()  # Großbuchstaben
phrase = phrase.replace("PYTHON", "Programmieren")  # Ersetzen
print(phrase)

Programmieren IST TOLL

## Listen und Dictionaries

In [29]:
# Liste
names = ["Lovelace", "Darwin", "Noether", "Hawking"]

In [30]:
names[0]

'Lovelace'

In [31]:
names[1]

'Darwin'

In [32]:
names[2]

'Noether'

In [33]:
names[-1]

'Hawking'

In [34]:
names[0:3]

['Lovelace', 'Darwin', 'Noether']

More info on slicing:

https://stackoverflow.com/questions/509211/understanding-slice-notation

This is a good visualisation:

```
                +---+---+---+---+---+---+
                | P | y | t | h | o | n |
                +---+---+---+---+---+---+
Slice position: 0   1   2   3   4   5   6
Index position:   0   1   2   3   4   5
```

In [35]:
# Slicing
names[:2]

['Lovelace', 'Darwin']

In [36]:
# Slicing
names[2:]

['Noether', 'Hawking']

In [37]:
authors_and_birth_years = {"Lovelace": 1815, 
                           "Darwin": 1809 ,
                           "Noether": 1882 ,
                           "Hawking": 1942}

In [38]:
authors_and_birth_years["Darwin"]

1809

In [39]:
# Key ist nicht definiert => Fehler 
authors_and_birth_years["DARWIN"]

KeyError: 'DARWIN'

### ✨ Übung: Listen und Dictionaries
1. Erstelle eine Liste mit den Namen von drei Städten.
2. Füge eine vierte Stadt hinzu. Dafür kannst du die Methode `append()` auf die Liste anwenden.
3. Erstelle ein Dictionary, das den Städten ein Land zuordnet.
4. Gib beides mit `print()` aus.

In [40]:
### ✅ Lösung
staedte = ["Berlin", "Paris", "Rom"]
staedte.append("Madrid")
laender = {"Berlin": "Deutschland", "Paris": "Frankreich", "Rom": "Italien", "Madrid": "Spanien"}
print(staedte)
print(laender)

['Berlin', 'Paris', 'Rom', 'Madrid']
{'Berlin': 'Deutschland', 'Paris': 'Frankreich', 'Rom': 'Italien', 'Madrid': 'Spanien'}

# for-Schleifen

In [41]:
for person in names:
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Noether did awesome stuff.
Hawking did awesome stuff.

## ✨ Übung: For-Schleifen
Gegeben ist eine Liste mit Zahlen:

`zahlen = [3, 7, 1, 9, 2]`

Schreibe eine Schleife, die alle Zahlen ausgibt.  
Berechne die Summe aller Zahlen.  
Gib das Ergebnis aus.

**Hinweis**:  
Wenn du eine Summe berechnen willst, brauchst du zuerst eine Variable, die du auf 0 setzt. Diese Variable wird im Laufe der Schleife immer weiter erhöht.

Dabei funktioniert die Rechnung so:

- Am Anfang ist sum = 0
- Bei jeder Zahl in der Liste wird sum = sum + number gerechnet
- Am Ende enthält sum die gesamte Summe aller Zahlen

In [42]:
### ✅ Lösung
numbers = [3, 7, 1, 9, 2]
sum = 0
for number in numbers:
    print(number)
    sum = sum + number
    # oder sum += number
print("Summe:", sum)

3
7
1
9
2
Summe: 22

## Bedingte Anweisungen (Conditionals)

In [43]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [44]:
20 > 15

True

In [45]:
20 > 70

False

In [46]:
temp = 10
if temp > 15:
    print("It's warm")

In [47]:
temp = 10
if temp > 15:
    print("It's warm")   
else:
    print("It's cold")

It's cold

In [48]:
temp = 15
if temp >= 25:
    print("It's hot") 
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

## ✨ Übung: Bedingte Anweisungen
Ein Kinoticket kostet `10€`. Kinder unter `12 Jahren` bekommen `50% Rabatt`.

Schreibe ein Programm, das prüft, ob eine Person den Rabatt bekommt.

In [50]:
### ✅ Lösung
age = 10  # Testalter
price = 10

if age < 12:
    price *= 0.5  # 50% Rabatt

print("Ticketpreis:", price, "€")

Ticketpreis: 5.0 €